.contact-link {
  @apply flex items-center gap-3 hover:text-primary transition-all duration-300;

  &__icon {
    @apply w-10 h-10 rounded-lg bg-primary/10 border border-primary/20 
           flex items-center justify-center text-primary 
           group-hover:bg-primary group-hover:text-black transition-all duration-300;
  }
}
