<!-- Category Selector Component Template -->
<div class="category-selector" [class.category-selector--disabled]="disabled">
  <!-- Label -->
  <label *ngIf="label" class="category-selector__label">
    {{ label }}
    <span *ngIf="required" class="text-red-400">*</span>
  </label>
  
  <!-- Grid View (default) -->
  <div *ngIf="!compact" class="category-selector__grid">
    <button 
      *ngFor="let cat of categories"
      type="button"
      class="category-selector__card"
      [class.category-selector__card--selected]="isSelected(cat.value)"
      [disabled]="disabled"
      (click)="selectCategory(cat.value)">
      
      <app-icon class="category-selector__icon" [name]="cat.icon" cssClass="w-6 h-6 text-primary"></app-icon>
      <span class="category-selector__name">{{ cat.label }}</span>
      <span class="category-selector__description">{{ cat.description }}</span>
      
      <span *ngIf="showAttachmentInfo" class="category-selector__attachment-info">
        {{ cat.attachmentInfo }}
      </span>
      
      <!-- Check icon when selected -->
      <div *ngIf="isSelected(cat.value)" class="category-selector__check">
        <app-icon name="check" cssClass="w-5 h-5"></app-icon>
      </div>
    </button>
  </div>
  
  <!-- Compact View (chips) -->
  <div *ngIf="compact" class="category-selector__chips">
    <button 
      *ngFor="let cat of categories"
      type="button"
      class="category-selector__chip"
      [class.category-selector__chip--selected]="isSelected(cat.value)"
      [disabled]="disabled"
      (click)="selectCategory(cat.value)">
      <app-icon [name]="cat.icon" cssClass="w-4 h-4"></app-icon>
      <span>{{ cat.label }}</span>
    </button>
  </div>
  
  <!-- Selected Info -->
  <div *ngIf="selectedCategory && showAttachmentInfo" class="category-selector__info">
    <app-icon name="information-circle" cssClass="w-4 h-4"></app-icon>
    <span>Esta categoría requiere: <strong>{{ getSelectedInfo() }}</strong></span>
  </div>
</div>
